swagger: '2.0'
info:
  version: 3.0.0
  title: Pol.is
  description: >-
    The Pol.is API for AI-powered conversations.
  termsOfService: 'https://pol.is/tos'
  contact:
    name: Pol.is API team
    email: foo@example.com
    url: 'https://pol.is'
  license:
    name: 'AGPL-3.0'
    url: 'https://opensource.org/licenses/AGPL-3.0'
host: api.pol.is
basePath: /api/v3
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  basicAuth:
    type: basic
    description: API key as user name. Password should be left blank.
paths:
  /conversations:
    post:
      security:
       - basicAuth: []
      description: Create a new conversation
      tags:
        - Conversations
      parameters:
        - name: topic
          in: formData
          default: ''
          type: string
        - name: description
          in: formData
          default: ''
          type: string
        - name: short_url
          in: formData
          default: false
          type: boolean
          description: will return an easily typeable shortlink
        - name: strict_moderation
          in: formData
          type: boolean
      responses:
        200:
          description: ''
          schema:
            type: object
            example:
              conversation_id: '1234abc'
              url: 'pol.is/1234abc'
            properties:
              conversation_id:
                type: string
                description: ''
              url:
                type: string
                description: ''
    get:
      security:
       - basicAuth: []
      description: Get all the data for one conversation
      tags:
        - Conversations
      parameters:
        - name: conversation_id
          in: query
          type: string
        - name: user_id
          in: query
          type: string
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Conversation'
definitions:
  Conversation:
    type: object
    properties:
      topic:
        type: string
        description: ''
      description:
        type: string
        description: ''
      created:
        type: string
        format: date-time
      strict_moderation:
        type: boolean
      profanity_filter:
        type: boolean
      spam_filter:
        type: boolean
      # TODO: context: ???
      modified:
        type: string
        format: date-time
      conversation_id:
        type: string
      is_owner:
        type: boolean
      url:
        type: string
